@use "./variables/colors";
@use "./variables/fonts";
@use "./components/rootlayout/header";
@use "./components/rootlayout/footer";
@use "./components/home/heroSection";
@use "./components/home/serviceSection";
@use "./components/shared/loading";
@use "./components/shared/pageNotFound";
@use "./pages/about";
@use "./pages/products";
@use "./components/products/productsList";
@use "./components/products/productCard";
@use "./pages/productDetails";
@use "./components/login/loginForm";
@use "./components/login/signupForm";
@use "./pages/profile";
@use "./components/login/userUpdate";
@use "./components/login/userPasswordUpdate";
@use "./components/profile/deleteAccount";
@use "./components/profile/logoutDialog";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: fonts.$font-secondary;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: colors.$white;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
label,
button,
ion-icon { display: block; }

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

:focus-visible { outline-offset: 4px; }

::selection {
  background-color: colors.$black_50;
  color: colors.$white;
}

.container { padding-inline: 15px;}