@import url("https://fonts.googleapis.com/css2?family=Merriweather:400,700,1400,1700|Lato:400,500,700&display=swap");
header .header__top-bar {
  background-color: hsl(206, 21%, 15%);
  color: hsl(152, 95%, 39%);
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  padding-block: 10px;
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
}
header .header__navbar-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  padding-inline: 5%;
  padding-block: 20px;
  max-width: 2000px;
  margin: auto;
}
header .header__navbar-wrapper__logo {
  color: hsl(206, 21%, 15%);
  font-family: "Merriweather", serif;
  text-align: center;
}
header .header__navbar-wrapper__logo h1 {
  min-width: 100%;
  font-size: 3rem;
}
header .header__navbar-wrapper__logo .span {
  display: inline-block;
  color: hsl(152, 95%, 39%);
}
header .header__navbar-wrapper__nav__list {
  display: flex;
  gap: 20px;
  color: hsl(206, 21%, 15%);
  padding: 0 10px;
  font-size: 1.7rem;
  font-weight: 600;
}
header .header__navbar-wrapper__nav__list a:hover {
  color: hsl(152, 95%, 31%);
}
header .header__navbar-wrapper__nav__list .active {
  color: hsl(152, 95%, 33%);
}
header .header__navbar-wrapper__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
header .header__navbar-wrapper__actions__button {
  position: relative;
  background-color: hsl(96, 36%, 95%);
  font-size: 2rem;
  padding: 12px;
  border-radius: 50%;
}
header .header__navbar-wrapper__actions__button svg {
  fill: hsl(222, 36%, 22%);
}
header .header__navbar-wrapper__actions__button:hover, header .header__navbar-wrapper__actions__button:focus {
  outline: 1.5px solid hsla(152, 95%, 39%, 0.7);
}
header .header__navbar-wrapper__actions__button span span {
  font-size: 12px;
  background-color: hsl(152, 95%, 39%);
  border-radius: 50%;
  padding: 5px;
  color: white;
  width: auto;
  height: auto;
  top: -7px;
  right: -7px;
}
header .header__navbar-wrapper__actions .active svg {
  fill: hsl(152, 95%, 39%);
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px hsl(152, 95%, 39%);
  }
  to {
    text-shadow: 0 0 20px hsl(152, 73%, 30%);
  }
}
footer {
  background-image: url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/hero-left-bg.png"), url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/hero-right-bg.png");
  background-color: hsl(206, 20%, 14%);
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  color: hsl(0, 0%, 82%);
}
footer .footer__top {
  padding-block: 60px;
}
footer .footer__top__container {
  display: grid;
  grid-template-columns: 1.3fr 0.6fr 1fr 1fr;
  gap: 30px;
  padding-inline: 40px;
  max-width: 2000px;
  margin: auto;
}
footer .footer__top__container__brand {
  color: hsl(0, 0%, 100%);
}
footer .footer__top__container__brand h1 {
  font-family: "Merriweather", serif;
  font-size: 3.2rem;
  font-weight: 700;
}
footer .footer__top__container__brand .span {
  font-family: "Merriweather", serif;
  display: inline-block;
  color: hsl(152, 95%, 39%);
}
footer .footer__top__container__brand p {
  line-height: 2;
  margin-block: 20px 15px;
  color: hsl(0, 0%, 82%);
}
footer .footer__top__container__brand__social-list {
  display: flex;
  gap: 15px;
  align-items: center;
}
footer .footer__top__container__brand__social-list li {
  border: 1px solid hsl(0, 0%, 82%);
  border-radius: 50%;
  padding: 5px;
  display: flex;
}
footer .footer__top__container__brand__social-list li:hover, footer .footer__top__container__brand__social-list li:focus {
  border: 1px solid hsl(152, 95%, 39%);
}
footer .footer__top__container__brand__social-list li svg {
  fill: hsl(0, 0%, 82%);
}
footer .footer__top__container__brand__social-list li:hover, footer .footer__top__container__brand__social-list li:focus {
  border: 1px solid hsla(152, 95%, 39%, 0.7);
}
footer .footer__top__container__brand__social-list li:hover svg, footer .footer__top__container__brand__social-list li:focus svg {
  fill: hsla(152, 95%, 39%, 0.7);
}
footer .footer__top__container__list__title {
  color: hsl(0, 0%, 100%);
  font-size: 2.4rem;
  font-weight: 700;
  margin-block-end: 25px;
}
footer .footer__top__container__list__text {
  font-size: 1.7rem;
  margin-block-start: 16px;
}
footer .footer__top__container__list__text:hover {
  color: hsla(152, 95%, 39%, 0.7);
}
footer .footer__top__container__list__newsletter {
  line-height: 1.8;
  margin-block-end: 25px;
}
footer .footer__top__container__list form {
  position: relative;
}
footer .footer__top__container__list form input {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 53%);
  font-size: 1.5rem;
  padding: 16px 20px;
  padding-inline-end: 50px;
  border-radius: 4px;
}
footer .footer__top__container__list form button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
footer .footer__top__container__list form button svg {
  fill: hsl(152, 95%, 39%);
}
footer .footer__bottom {
  background-color: hsl(207, 21%, 17%);
  padding-block: 15px;
  font-size: 1.4rem;
}
footer .footer__bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  max-width: 2000px;
  margin: auto;
}
footer .footer__bottom__container__copyright {
  text-align: center;
  line-height: 1.7;
}
footer .footer__bottom__container__list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hero {
  background-image: url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/hero-left-bg.png"), url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/hero-right-bg.png");
  background-color: hsl(96, 36%, 95%);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;
  padding-block: 40px;
  max-height: 1200px;
}
.hero__container {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: center;
  justify-items: center;
  padding-inline: 1rem;
  margin-inline: 3rem;
}
.hero__container__content__subtitle {
  color: hsl(152, 95%, 39%);
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  margin-block-end: 20px;
}
.hero__container__content__title {
  color: hsl(206, 21%, 15%);
  font-size: 3rem;
  margin-block-end: 15px;
}
.hero__container__content__title span {
  display: inline-block;
  color: hsl(152, 95%, 39%);
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}
.hero__container__content__text {
  color: hsl(223, 6%, 55%);
  font-size: 1.7rem;
  line-height: 1.8;
  margin-block-end: 30px;
}
.hero__container__content button {
  background-color: hsl(152, 95%, 39%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 18px 50px;
  border-radius: 50px;
  transition: 0.25s ease;
}
.hero__container__content button:hover, .hero__container__content button:focus {
  background-color: hsl(152, 95%, 33%);
}
.hero__container__banner {
  display: block;
  margin: auto;
}
.hero__container__banner__slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 400px;
}
.hero__container__banner__slideshow__slide {
  white-space: nowrap;
}
.hero__container__banner__slideshow__slide img {
  display: inline-block;
}

.service {
  background-image: url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/partner-left-bg.png");
  background-color: hsl(152, 95%, 31%);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-blend-mode: soft-light;
  padding: 50px;
}
.service__container__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.service__container__list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.service__container__list__item__icon {
  max-width: max-content;
  background-color: hsla(0, 0%, 100%, 0.25);
  border-radius: 50%;
  padding: 20px;
}
.service__container__list__item h3 {
  color: hsl(0, 0%, 100%);
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  letter-spacing: 1.5px;
}

.loading__container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.loading__container__loading {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.loading__container__loading div {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid hsl(152, 95%, 33%);
  border-radius: 50%;
  animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: hsl(152, 95%, 33%) transparent transparent transparent;
}
.loading__container__loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading__container__loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading__container__loading div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.notfound__container {
  position: relative;
  height: 100vh;
}
.notfound__container__notfound {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.notfound__container__notfound__title {
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 200px;
  z-index: -1;
}
.notfound__container__notfound__title h1 {
  font-family: "Lato", sans-serif;
  font-size: 238px;
  font-weight: 700;
  color: hsl(96, 36%, 95%);
  letter-spacing: 7px;
  position: absolute;
  top: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.notfound__container__notfound h2 {
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: hsla(0, 0%, 0%, 0.5);
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 15px;
}
.notfound__container__notfound__reroute {
  display: flex;
  align-items: center;
}

.about {
  background-image: url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/hero-left-bg.png"), url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/hero-right-bg.png");
  background-color: hsl(96, 36%, 95%);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
  padding-top: 40px;
}
.about__title, .about h2 {
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  color: hsl(152, 95%, 39%);
  text-align: center;
  font-style: italic;
}
.about__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50rem);
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  color: hsl(207, 21%, 17%);
  line-height: 3rem;
  font-style: italic;
  margin-bottom: 30px;
}
.about__content a {
  display: inline-block;
  color: cadetblue;
  text-decoration: underline;
}
.about__partners {
  background-color: hsl(152, 95%, 39%);
  background-image: url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/partner-left-bg.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}
.about__partners__container {
  margin-inline: auto;
  padding-inline: 15px;
  padding: 30px;
}
.about__partners__container h2 {
  color: hsl(0, 0%, 100%);
}
.about__partners__container ul {
  display: flex;
  overflow-x: auto;
  padding-block: 30px;
  scroll-snap-type: inline mandatory;
  gap: 5rem;
  width: 70%;
  margin: auto;
  max-width: 1020px;
}
.about__partners__container ul li {
  scroll-snap-align: center;
}
.about__partners__container ul li img {
  max-width: max-content;
  margin-inline: auto;
}

.products {
  padding-block: 0 80px;
}
.products__container {
  max-width: 1020px;
  margin-inline: auto;
}
.products__container__title {
  text-align: center;
  color: hsl(152, 95%, 39%);
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  font-style: italic;
  margin-block-end: 25px;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-end: 25px;
}
.filter__list__categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  min-width: 150px;
  background-color: hsl(96, 36%, 95%);
  color: hsl(206, 21%, 15%);
  font-size: 1.7rem;
  font-family: "Merriweather", serif;
  font-weight: 600;
  padding: 16px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.25s ease;
}
.filter__list__categories:hover {
  border: 2px solid hsl(152, 95%, 39%);
}
.filter__list__categories:focus, .filter__list__categories:focus-within {
  background-color: hsl(152, 95%, 39%);
  color: hsl(0, 0%, 100%);
}

.query {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 20px;
  margin-block-end: 25px;
}
.query__search {
  min-width: 30%;
}
.query__others {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
}
.query__others__container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.query__others__container select {
  border: 2px solid hsl(96, 36%, 95%);
  font-size: 1.5rem;
  transition: 0.25s ease;
}
.query__others__container select:hover {
  border-color: hsla(152, 95%, 39%, 0.7);
}

#query-search {
  position: relative;
}

#query-search__icon {
  position: absolute;
  top: 12px;
  right: 20px;
  color: hsl(0, 0%, 53%);
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.product__card {
  background-color: hsl(96, 36%, 95%);
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
  outline: 2px solid transparent;
  transition: 0.25s ease;
  transition: box-shadow 0.25s ease;
  width: 240px;
  max-height: 427px;
  white-space: nowrap;
  overflow: hidden;
}
.product__card:hover, .product__card :focus-within {
  outline-color: hsl(152, 95%, 39%);
  box-shadow: 0 0 15px rgba(27, 27, 27, 0.2);
}
.product__card figure {
  position: relative;
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 20px;
  transition: 0.25s ease;
}
.product__card figure:hover img {
  opacity: 0.6;
}
.product__card figure:hover .favorite {
  opacity: 1;
}
.product__card figure .favorite {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.product__card figure .favorite button {
  position: relative;
  background-color: hsl(96, 36%, 95%);
  font-size: 2rem;
  padding: 12px;
  border-radius: 50%;
}
.product__card figure .favorite button svg {
  fill: hsl(222, 36%, 22%);
}
.product__card figure .favorite button:hover svg, .product__card figure .favorite button:focus svg {
  fill: hsl(152, 95%, 39%);
}
.product__card figure .favorite button:hover .favorite__tooltip, .product__card figure .favorite button:focus .favorite__tooltip {
  opacity: 1;
}
.product__card figure .favorite__tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(0, 0%, 0%, 0.9);
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
  font-size: 1.4rem;
  min-width: max-content;
  padding: 4px 12px;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s ease;
}
.product__card figure .favorite__tooltip::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 5px solid transparent;
  border-bottom-color: hsla(0, 0%, 0%, 0.9);
  border-right-color: hsla(0, 0%, 0%, 0.9);
}
.product__card__rating {
  display: flex;
  justify-content: center;
  gap: 2px;
  color: hsl(36, 100%, 50%);
  margin-block-end: 10px;
}
.product__card__title {
  color: hsl(245, 97%, 13%);
  font-size: 1.4rem;
  font-weight: 500;
  margin-block-end: 10px;
  position: relative;
}
.product__card__title h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.product__card__title:hover {
  color: hsl(152, 95%, 39%);
}
.product__card__title:hover .title__tooltip {
  opacity: 0.8;
}
.product__card__title .title__tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(156, 3%, 61%);
  color: hsl(206, 21%, 15%);
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 4px 12px;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s ease;
  white-space: normal;
  width: 100%;
}
.product__card__title .title__tooltip::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 5px solid transparent;
  border-bottom-color: hsl(156, 3%, 61%);
  border-right-color: hsl(156, 3%, 61%);
}
.product__card__price {
  font-size: 1.7rem;
  margin-block-end: 15px;
  color: hsl(152, 95%, 39%);
}
.product__card__buttons {
  display: flex;
  justify-content: center;
}
.product__card__buttons button {
  background-color: hsl(152, 95%, 39%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 18px 50px;
  border-radius: 50px;
  transition: 0.25s ease;
  padding: 12px 18px;
  font-size: 1.5rem;
  font-weight: 500;
}
.product__card__buttons button:hover, .product__card__buttons button:focus {
  background-color: hsl(152, 95%, 33%);
}

.product-details {
  padding-block-end: 80px;
}
.product-details .container {
  padding-inline: 40px;
  max-width: 1020px;
  margin: auto;
}
.product-details__title {
  text-align: center;
  color: hsl(152, 95%, 39%);
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  font-style: italic;
  margin-block-end: 25px;
}
.product-details__wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 40px;
  padding-block-end: 50px;
  border-block-end: 1px solid hsl(156, 3%, 61%);
  margin-block-end: 50px;
}
.product-details__wrapper__images {
  min-width: 450px;
}
.product-details__wrapper__images__main {
  margin-block-end: 15px;
}
.product-details__wrapper__images__main img {
  width: 100%;
}
.product-details__wrapper__images__extra {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 20px;
}
.product-details__wrapper__images__extra li {
  min-width: calc(25% - 7.5px);
  scroll-snap-align: start;
}
.product-details__wrapper__images__extra li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product-details__wrapper__content {
  position: relative;
}
.product-details__wrapper__content h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-block-end: 15px;
  color: hsl(245, 97%, 13%);
}
.product-details__wrapper__content h4 {
  font-size: 2.4rem;
  font-weight: 700;
  color: hsl(245, 97%, 13%);
}
.product-details__wrapper__content h5 {
  margin-block-end: 15px;
  font-size: 2rem;
  font-weight: 500;
  color: hsl(0, 0%, 20%);
}
.product-details__wrapper__content__update {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border: 1.5px solid transparent;
  border-radius: 50%;
  padding: 5px;
  transition: 0.25s ease;
}
.product-details__wrapper__content__update svg {
  font-size: 28px;
}
.product-details__wrapper__content__update:hover svg, .product-details__wrapper__content__update:focus svg {
  font-size: 33px;
}
.product-details__wrapper__content__update:hover .update__tooltip, .product-details__wrapper__content__update:focus .update__tooltip {
  opacity: 1;
}
.product-details__wrapper__content__update .update__tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(0, 0%, 0%, 0.9);
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
  font-size: 1.4rem;
  min-width: max-content;
  padding: 4px 12px;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s ease;
}
.product-details__wrapper__content__update .update__tooltip::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 5px solid transparent;
  border-bottom-color: hsla(0, 0%, 0%, 0.9);
  border-right-color: hsla(0, 0%, 0%, 0.9);
}
.product-details__wrapper__content__rating {
  color: hsl(36, 100%, 50%);
  margin-block: 15px;
}
.product-details__wrapper__content__description {
  color: hsl(0, 0%, 45%);
  line-height: 1.65;
}
.product-details__wrapper__content__quantity {
  margin-block: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}
.product-details__wrapper__content__quantity input {
  display: inline-block;
  max-width: 150px;
  color: hsl(0, 0%, 0%);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid hsl(156, 3%, 61%);
  width: 100%;
}
.product-details__wrapper__content__quantity button {
  background-color: hsl(152, 95%, 39%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 18px 50px;
  border-radius: 50px;
  transition: 0.25s ease;
  border-radius: 0;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 500;
  border: 1px solid hsl(152, 95%, 39%);
}
.product-details__wrapper__content__quantity button:hover, .product-details__wrapper__content__quantity button:focus {
  background-color: hsl(152, 95%, 33%);
}
.product-details__wrapper__content__quantity .add-to-favorites {
  background-color: hsl(96, 36%, 95%);
  font-size: 2rem;
  padding: 12px;
  border: 1px solid hsl(96, 36%, 95%);
}
.product-details__wrapper__content__quantity .add-to-favorites svg {
  fill: hsl(152, 95%, 39%);
}
.product-details__wrapper__content__quantity .add-to-favorites:hover {
  background-color: hsl(96, 36%, 95%);
  border: 1px solid hsl(152, 95%, 39%);
}
.product-details__info {
  color: hsl(245, 97%, 13%);
  font-size: 2.4rem;
  margin-block-end: 25px;
}
.product-details__table {
  width: 100%;
  border: 1px solid hsl(0, 0%, 92%);
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}
.product-details__table__row {
  border: 1px solid hsl(0, 0%, 92%);
}
.product-details__table__row__heading, .product-details__table__row__data {
  color: hsl(0, 0%, 27%);
  font-size: 1.4rem;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 92%);
}
.product-details__table__row__data__rating {
  color: hsl(36, 100%, 50%);
}

.form-container {
  background-color: hsl(0, 0%, 100%);
  max-width: 600px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 15px auto 30px;
  padding: 40px;
}
.form-container h2 {
  color: hsl(152, 95%, 39%);
  font-size: 2rem;
  text-transform: uppercase;
  margin-block-end: 30px;
}
.form-container__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-container__form label {
  display: block;
  color: hsl(0, 0%, 53%);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-block-end: 10px;
}
.form-container__form input {
  display: block;
  background-color: hsl(96, 36%, 95%);
  width: 100%;
  border: 0;
  border-radius: 6px;
  padding: 12px 20px;
  outline: none;
  color: hsl(0, 0%, 53%);
  transition: 0.25s ease;
  margin-block-end: 20px;
}
.form-container__form input:focus {
  color: hsl(0, 0%, 27%);
}
.form-container__form p {
  margin-block-end: 20px;
  color: orangered;
}
.form-container__form button {
  background-color: hsl(152, 95%, 39%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 18px 50px;
  border-radius: 50px;
  transition: 0.25s ease;
  border-radius: 6px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
  margin-block: 10px 30px;
}
.form-container__form button:hover, .form-container__form button:focus {
  background-color: hsl(152, 95%, 33%);
}
.form-container__form a {
  color: cadetblue;
  text-decoration: underline;
}
.form-container__form .error {
  color: red;
}
.form-container__form .toggle-class {
  text-decoration: underline;
  color: cadetblue;
  cursor: pointer;
}

.form-container.signup {
  background-color: hsl(96, 36%, 95%);
  max-height: 800px;
  transition: 0.5s ease-in-out;
  transition-delay: 0.1s;
  transform: translateY(-20%);
  height: 0;
  opacity: 0;
  margin: 0 auto;
}
.form-container.signup h2 {
  color: hsl(152, 95%, 33%);
}
.form-container.signup.signup-display {
  opacity: 1;
  transform: translateY(0);
  height: auto;
  margin: 15px auto 80px;
}
.form-container__form.signup__form label {
  color: hsl(0, 0%, 20%);
}
.form-container__form.signup__form input {
  background-color: hsl(152, 95%, 33%);
  color: hsl(0, 0%, 82%);
}
.form-container__form.signup__form input:focus {
  color: hsl(0, 0%, 100%);
}
.form-container__form.signup__form button {
  background-color: hsl(96, 36%, 95%);
  border: 2px solid hsl(152, 95%, 33%);
  color: hsl(152, 95%, 31%);
  margin: 10px auto;
}
.form-container__form.signup__form button:hover {
  background-color: hsl(0, 0%, 100%);
}

.profile h2 {
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  color: hsl(152, 95%, 39%);
  text-align: center;
  font-style: italic;
  margin-block-end: 10px;
}
.profile__content {
  text-align: center;
  max-width: 1020px;
  margin: auto;
  margin-bottom: 30px;
}
.profile__content__user img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: auto;
  margin-block: 20px;
}
.profile__content__user__name {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 600;
  color: hsl(0, 0%, 20%);
  text-transform: capitalize;
}
.profile__content__user__settings, .profile__content__user__orders {
  margin-block: 30px 10px;
}
.profile__content__user__settings h3, .profile__content__user__orders h3 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-block: 10px;
}
.profile__content__user__settings__actions, .profile__content__user__orders__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 5px;
}
.profile__content__user__settings__actions__title, .profile__content__user__orders__actions__title {
  border-bottom: 2px solid transparent;
  transition: 0.05s ease;
}
.profile__content__user__settings__actions__title:hover, .profile__content__user__orders__actions__title:hover {
  border-bottom: 2px solid hsl(152, 95%, 39%);
}
.profile__content__admin {
  margin-block: 30px 10px;
}
.profile__content__admin h3 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-block: 10px;
}
.profile__content__admin__settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 5px;
}
.profile__content__admin__settings__actions {
  border-bottom: 2px solid transparent;
  transition: 0.05s ease;
}
.profile__content__admin__settings__actions:hover {
  border-bottom: 2px solid hsl(152, 95%, 39%);
}

.user-update {
  margin: 15px auto;
  position: relative;
  display: none;
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.user-update h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-block-end: 20px;
}
.user-update__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  border: 1.5px solid hsl(152, 95%, 33%);
  border-radius: 50%;
  padding: 5px;
  color: hsl(152, 95%, 33%);
}
.user-update__form button {
  margin: 0;
}

.display {
  display: block;
  opacity: 1;
  z-index: 10;
  position: absolute;
}

.update-password {
  margin: 15px auto;
  position: relative;
  display: none;
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.update-password h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-block-end: 20px;
}
.update-password__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  border: 1.5px solid hsl(152, 95%, 33%);
  border-radius: 50%;
  padding: 5px;
  color: hsl(152, 95%, 33%);
}
.update-password__form button {
  margin: 0;
}

.display {
  display: block;
  opacity: 1;
  z-index: 10;
  position: absolute;
}

.delete-dialog {
  font-size: 1.8rem;
  width: 500px;
  padding: 30px 30px 20px;
}
.delete-dialog__actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-block-start: 20px;
}
.delete-dialog__actions__cancel {
  background-color: transparent;
  padding: 15px 25px;
  color: hsl(0, 0%, 45%);
}
.delete-dialog__actions__cancel:hover {
  color: hsl(0, 0%, 0%);
  background-color: transparent;
}
.delete-dialog__actions__delete {
  background-color: hsl(152, 95%, 39%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 18px 50px;
  border-radius: 50px;
  transition: 0.25s ease;
  border-radius: 4px;
  padding: 15px 40px;
}
.delete-dialog__actions__delete:hover, .delete-dialog__actions__delete:focus {
  background-color: hsl(152, 95%, 33%);
}

.logout-dialog {
  font-size: 1.8rem;
  width: 500px;
  padding: 30px 30px 20px;
}
.logout-dialog__actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-block-start: 20px;
}
.logout-dialog__actions__cancel {
  background-color: transparent;
  padding: 15px 25px;
  color: hsl(0, 0%, 45%);
}
.logout-dialog__actions__cancel:hover {
  color: hsl(0, 0%, 0%);
  background-color: transparent;
}
.logout-dialog__actions__logout {
  background-color: hsl(152, 95%, 39%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 18px 50px;
  border-radius: 50px;
  transition: 0.25s ease;
  border-radius: 4px;
  padding: 15px 40px;
}
.logout-dialog__actions__logout:hover, .logout-dialog__actions__logout:focus {
  background-color: hsl(152, 95%, 33%);
}

.form-container__form .create-new-product__buttons {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
  text-transform: none;
  margin-block-end: 0;
}
.form-container__form .create-new-product__buttons__cancel {
  background-color: transparent;
  padding: 15px 25px;
  color: hsl(0, 0%, 45%);
  width: fit-content;
  text-transform: none;
  font-weight: 500;
  margin-block-end: 0;
}
.form-container__form .create-new-product__buttons__cancel:hover {
  color: hsl(0, 0%, 0%);
  background-color: transparent;
}
.form-container__form .create-new-product__buttons__create {
  width: fit-content;
  text-transform: none;
  font-weight: 600;
  border-radius: 4px;
  padding: 15px 40px;
  margin-block-end: 0;
}

.delete-product h4 {
  margin-block-end: 15px;
  font-weight: 600;
  color: hsl(0, 0%, 27%);
}
.delete-product__buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.form-container__form .delete-product__buttons__cancel {
  background-color: transparent;
  padding: 15px 25px;
  color: hsl(0, 0%, 45%);
  width: fit-content;
  text-transform: none;
  font-weight: 500;
  margin-block-end: 0;
}
.form-container__form .delete-product__buttons__cancel:hover {
  color: hsl(0, 0%, 0%);
  background-color: transparent;
}
.form-container__form .delete-product__buttons__delete {
  width: fit-content;
  text-transform: none;
  font-weight: 600;
  border-radius: 4px;
  padding: 15px 40px;
  margin-block-end: 0;
}

.form-container__form .update-product__buttons {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
  text-transform: none;
  margin-block-end: 0;
}
.form-container__form .update-product__buttons__cancel {
  background-color: transparent;
  padding: 15px 25px;
  color: hsl(0, 0%, 45%);
  width: fit-content;
  text-transform: none;
  font-weight: 500;
  margin-block-end: 0;
}
.form-container__form .update-product__buttons__cancel:hover {
  color: hsl(0, 0%, 0%);
  background-color: transparent;
}
.form-container__form .update-product__buttons__update {
  width: fit-content;
  text-transform: none;
  font-weight: 600;
  border-radius: 4px;
  padding: 15px 40px;
  margin-block-end: 0;
}

.categories {
  margin: auto;
  padding-block: 40px;
}
.categories__container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 80px;
}
.categories__container__category {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  align-content: center;
  padding: 30px;
  background-color: hsl(96, 36%, 95%);
  transition: 0.25s ease;
}
.categories__container__category:hover {
  box-shadow: 0 0 10px rgba(27, 27, 27, 0.2);
}
.categories__container__category__content h4 {
  color: hsl(152, 95%, 39%);
  text-transform: uppercase;
  margin-block-end: 10px;
}
.categories__container__category__content h2 {
  font-family: "Merriweather", serif;
  margin-block-end: 12px;
  color: hsl(245, 97%, 13%);
  transition: 0.25s ease;
}
.categories__container__category__content h2:hover {
  font-size: 3rem;
}
.categories__container__category__content button {
  background-color: hsl(152, 95%, 39%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 18px 50px;
  border-radius: 50px;
  transition: 0.25s ease;
  padding: 16px 25px;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 6px;
}
.categories__container__category__content button:hover, .categories__container__category__content button:focus {
  background-color: hsl(152, 95%, 33%);
}
.categories__container__category__image {
  max-width: max-content;
  transition: 0.25s ease;
}
.categories__container__category__image:hover {
  opacity: 0.8;
}

.favorites {
  padding-block-end: 80px;
  min-height: 50vh;
}
.favorites .container {
  max-width: 1020px;
  margin: auto;
  padding-inline: 0;
}
.favorites__title {
  text-align: center;
  color: hsl(152, 95%, 39%);
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  font-style: italic;
  margin-block-end: 25px;
}
.favorites__table {
  width: 100%;
  border: 1px solid hsl(0, 0%, 92%);
  border-collapse: collapse;
  text-align: right;
  table-layout: fixed;
  border-radius: 4px;
  border-spacing: 0;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.favorites__table__header {
  border: 2px solid hsl(0, 0%, 92%);
  color: hsl(152, 95%, 33%);
  font-style: italic;
}
.favorites__table__body {
  font-size: 1.5rem;
}
.favorites__table__row {
  border-bottom: 1px solid hsl(0, 0%, 92%);
}
.favorites__table__data {
  padding: 20px;
}
.favorites__table__data--left {
  padding: 20px;
  text-align: left;
}
.favorites__table__data--left button {
  display: inline-block;
  margin-inline-start: 5px;
}
.favorites__table__data--left button svg {
  fill: hsla(152, 95%, 39%, 0.7);
}
.favorites__table__data--middle {
  padding: 20px;
  text-align: center;
}
.favorites__empty {
  margin-block-start: 30px;
  display: flex;
  align-items: center;
}
.favorites__empty button {
  display: inline-block;
  margin-inline-start: 5px;
}
.favorites__empty button svg {
  fill: hsla(152, 95%, 39%, 0.7);
  transition: 0.25s ease;
}
.favorites__empty button svg:hover {
  fill: hsl(152, 95%, 39%);
  font-size: 3rem;
}

.cart {
  padding-block-end: 80px;
  min-height: 50vh;
}
.cart .container {
  max-width: 1020px;
  margin: auto;
  padding-inline: 0;
}
.cart__title {
  text-align: center;
  color: hsl(152, 95%, 39%);
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  font-style: italic;
  margin-block-end: 25px;
}
.cart__table {
  width: 100%;
  border: 1px solid hsl(0, 0%, 92%);
  border-collapse: collapse;
  text-align: right;
  table-layout: fixed;
  border-radius: 4px;
  border-spacing: 0;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.cart__table__header {
  border: 2px solid hsl(0, 0%, 92%);
  color: hsl(152, 95%, 33%);
  font-style: italic;
}
.cart__table__body {
  font-size: 1.5rem;
}
.cart__table__row {
  border-bottom: 1px solid hsl(0, 0%, 92%);
}
.cart__table__data {
  padding: 20px;
}
.cart__table__data button {
  display: inline-block;
  margin-inline: 8px;
}
.cart__table__data button svg {
  fill: hsl(0, 0%, 53%);
  transition: 0.25s ease;
}
.cart__table__data button svg:hover {
  fill: hsl(0, 0%, 20%);
}
.cart__table__data--left {
  padding: 20px;
  text-align: left;
}
.cart__table__data--left a {
  display: inline-block;
}
.cart__table__data--left a:hover {
  border-bottom: 2px solid hsla(152, 95%, 39%, 0.7);
}
.cart__table__data--left button {
  display: inline-block;
  margin-inline-start: 5px;
}
.cart__table__data--left button svg {
  fill: hsl(0, 0%, 53%);
  transition: 0.25s ease;
}
.cart__table__data--left button svg:hover {
  fill: hsl(0, 0%, 20%);
}
.cart__table__data--middle {
  padding: 20px;
  text-align: center;
}
.cart__empty {
  margin-block-start: 30px;
  display: flex;
  align-items: center;
}
.cart__empty button {
  display: inline-block;
  margin-inline-start: 5px;
}
.cart__empty button svg {
  fill: hsla(152, 95%, 39%, 0.7);
  transition: 0.25s ease;
}
.cart__empty button svg:hover {
  fill: hsl(152, 95%, 39%);
  font-size: 3rem;
}
.cart__actions {
  display: flex;
  justify-content: flex-end;
}
.cart__actions button {
  background-color: hsl(152, 95%, 39%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 18px 50px;
  border-radius: 50px;
  transition: 0.25s ease;
  border-radius: 4px;
  padding: 18px 30px;
}
.cart__actions button:hover, .cart__actions button:focus {
  background-color: hsl(152, 95%, 33%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: hsl(0, 0%, 100%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
label,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

:focus-visible {
  outline-offset: 4px;
}

::selection {
  background-color: hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 0%, 100%);
}

.container {
  padding-inline: 15px;
}

/*# sourceMappingURL=styles.css.map */
