@use "../../variables/colors";
@use "../../variables/fonts";
@use "../../variables/others";
@use "../../mixins/button";

// .form-container {
//     &.signup {
//         background-color: colors.$mint-cream;
//         max-height: 800px;
//         transition: 0.5s ease-in-out;
//         transition-delay: 0.1s;
//         transform: translateY(-20%);
//         height: 0;
//         opacity: 0;
//         margin: 0 auto;
//         h2 {
//             color: colors.$green-pigment;
//         }
//         &__form {
//             label {
//                 color: colors.$jet;
//             }
//             input {
//                 background-color: colors.$green-pigment;
//                 color: colors.$light-gray;
//                 &:focus {
//                     color: colors.$white;
//                 }
//             }
//             button {
//                 background-color: colors.$mint-cream;
//                 border: 2px solid colors.$green-pigment;
//                 color: colors.$shamrock-green;
//                 &:hover {
//                     background-color: colors.$white;
//                 }
//             }
//         }
    
//         &.signup-display {
//             opacity: 1;
//             transform: translateY(0);
//             // visibility: visible;
//             height: auto;
//             margin: 15px auto others.$section-padding;
//         }
//     }
// }


// .signup-display {
//     opacity: 1;
//     transform: translateY(0);
//     // visibility: visible;
//     height: auto;
//     margin: 15px auto others.$section-padding;
// }

.form-container {
    &.signup {
        background-color: colors.$mint-cream;
        max-height: 800px;
        transition: 0.5s ease-in-out;
        transition-delay: 0.1s;
        transform: translateY(-20%);
        height: 0;
        opacity: 0;
        margin: 0 auto;
        h2 {
            color: colors.$green-pigment;
        }
        &.signup-display {
            opacity: 1;
            transform: translateY(0);
            // visibility: visible;
            height: auto;
            margin: 15px auto others.$section-padding;
        }
    }

    &__form {
        &.signup__form {
            label {
                color: colors.$jet;
            }
            input {
                background-color: colors.$green-pigment;
                color: colors.$light-gray;
                &:focus {
                    color: colors.$white;
                }
            }
            button {
                background-color: colors.$mint-cream;
                border: 2px solid colors.$green-pigment;
                color: colors.$shamrock-green;
                margin: 10px auto;
                &:hover {
                    background-color: colors.$white;
                }
            }
        }
    }
}