@use "../variables/colors";
@use "../variables/fonts";
@use "../variables/others";
@use "../mixins/button";

.product-details {
    padding-block-end: others.$section-padding;
    .container {
        padding-inline: 40px;
        max-width: 1020px;
        margin: auto;
    }
    &__title {
        text-align: center;
        color: colors.$emerald;
        font-family: fonts.$font-primary;
        font-size: fonts.$fs-2;
        font-style: italic;
        margin-block-end: 25px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        gap: 40px;
        padding-block-end: 50px;
        border-block-end: 1px solid colors.$spanish-gray;
        margin-block-end: 50px;
        &__images {
            min-width: 450px;
            &__main {
                margin-block-end: 15px;
                img {
                    width: 100%;
                }
            }
            &__extra {
                display: flex;
                gap: 10px;
                overflow-x: auto;
                scroll-snap-type: inline mandatory;
                padding-block-end: 20px;
                li {
                    min-width: calc(25% - 7.5px);
                    scroll-snap-align: start;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }

        &__content {
            position: relative;
            h3 {
                font-size: fonts.$fs-1;
                font-weight: fonts.$fw-700;
                margin-block-end: 15px;
                color: colors.$russian-violet;
            }
            h4 {
                font-size: fonts.$fs-2;
                font-weight: fonts.$fw-700;
                color: colors.$russian-violet;
            }
            h5 {
                margin-block-end: 15px;
                font-size: fonts.$fs-3;
                font-weight: fonts.$fw-500;
                color: colors.$jet;
            }
            &__update {
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
                border: 1.5px solid transparent;
                border-radius: 50%;
                padding: 5px;
                transition: others.$transition-2;
                svg {
                    font-size: 28px;
                }
                &:hover, &:focus {
                    svg {
                        font-size: 33px;
                    }
                    .update__tooltip {
                        opacity: 1;
                    }
                }
                .update__tooltip {
                    position: absolute;
                    bottom: calc(100% + 10px);
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: colors.$black_90;
                    color: colors.$white;
                    border-radius: others.$radius-4;
                    font-size: fonts.$fs-7;
                    min-width: max-content;
                    padding: 4px 12px;
                    pointer-events: none;
                    opacity: 0;
                    transition: others.$transition-2;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 20px;
                        left: 50%;
                        transform: translateX(-50%) rotate(45deg);
                        border: 5px solid transparent;
                        border-bottom-color: colors.$black_90;
                        border-right-color: colors.$black_90;
                    }
                }
            }
            &__rating {
                color: colors.$yellow-orange;
                margin-block: 15px;
            }
            &__description {
                color: colors.$sonic-silver;
                line-height: 1.65;
            }
            &__quantity {
                margin-block: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: center;
                input {
                    display: inline-block;
                    max-width: 150px;
                    color: colors.$black;
                    font-size: fonts.$fs-3;
                    font-weight: fonts.$fw-600;
                    text-align: center;
                    padding: 10px 20px;
                    border: 1px solid colors.$spanish-gray;
                    width: 100%;
                }
                button {
                    @include button.button;
                    border-radius: 0;
                    padding: 10px 20px;
                    font-size: fonts.$fs-3;
                    font-weight: fonts.$fw-500;
                    border: 1px solid colors.$emerald;
                }
            }
        }
    }

    &__info {
        color: colors.$russian-violet;
        font-size: fonts.$fs-2;
        margin-block-end: 25px;
    }

    &__table {
        width: 100%;
        border: 1px solid colors.$platinum;
        border-collapse: collapse;
        text-align: center;
        table-layout: fixed;
        &__row {
            border: 1px solid colors.$platinum;
            &__heading, &__data {
                color: colors.$onyx;
                font-size: fonts.$fs-7;
                padding: 20px;
                border: 1px solid colors.$platinum;
            }
            &__data {
                &__rating {
                    color: colors.$yellow-orange;
                }
            }
        }
    }
}