@use "../variables/colors";
@use "../variables/fonts";
@use "../variables/others";
@use "../mixins/button";

.profile {
    h2 {
        font-family: fonts.$font-primary;
        font-size: fonts.$fs-2;
        color: colors.$emerald;
        text-align: center;
        font-style: italic;
        margin-block-end: 10px;
    }
    &__content {
        text-align: center;
        max-width: 1020px;
        margin: auto;
        margin-bottom: 30px;
        &__user {
            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                margin: auto;
                margin-block: 20px;
            }
            &__name {
                font-family: fonts.$font-primary;
                font-size: fonts.$fs-3;
                font-weight: fonts.$fw-600;
                color: colors.$jet;
            }
            &__settings {
                margin-block: 30px 10px;
                h3 {
                    font-weight: fonts.$fw-600;
                    font-size: fonts.$fs-5;
                    margin-block: 10px;
                }
                &__actions {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-block: 5px;
                    &__title {
                        border-bottom: 2px solid transparent;
                        transition: others.$transition-1;
                        &:hover {
                            border-bottom: 2px solid colors.$emerald;
                        }
                    }
                }
            }
        }
    }
}