@use "../../variables/colors";
@use "../../variables/fonts";
@use "../../variables/others";
@use "../../mixins/button";

.hero {
    // background-image: 
    //     url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/hero-left-bg.png"),
    //     url("/Users/khanhngguyen/Downloads/KHANH/Integrify/fs15_Fullstack/frontend/src/styles/assets/hero-right-bg.png");
    // background-image: url("/frontend/src/styles/assets/hero-left-bg.png"), url("/frontend/src/styles/assets/hero-right-bg.png");
    background-image: url("./assets/hero-left-bg.png"), url("./assets/hero-right-bg.png");
    background-color: colors.$mint-cream;
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    padding-block: 40px;
    max-height: 1200px;
    &__container {
        display: grid;
        grid-template-columns: 1fr 0.8fr;
        align-items: center;
        justify-items: center;
        padding-inline: 1rem;
        margin-inline: 3rem;
        &__content {
            &__subtitle {
                color: colors.$emerald;
                font-family: fonts.$font-primary;
                font-weight: fonts.$fw-700;
                font-style: italic;
                letter-spacing: 2px;
                margin-block-end: 20px;
            }
            &__title {
                color: colors.$gunmetal-2;
                font-size: fonts.$fs-1;
                margin-block-end: 15px;
                span {
                    display: inline-block;
                    color: colors.$emerald;
                    font-family: fonts.$font-primary;
                    font-weight: fonts.$fw-700;
                    font-style: italic;
                }
            }
            &__text {
                color: colors.$roman-silver;
                font-size: fonts.$fs-5;
                line-height: 1.8;
                margin-block-end: 30px;
            }
            button {
                @include button.button;
            }
        }
        &__banner {
            display: block;
            margin: auto;
            &__slideshow {
                margin: 0 auto;
                overflow: hidden;
                max-width: 400px;
                &__slide {
                    white-space: nowrap;
                    img {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
