@use "../../variables/colors";
@use "../../variables/fonts";
@use "../../variables/others";
@use "../../mixins/button";

.product__card {
    background-color: colors.$mint-cream;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    outline: 2px solid transparent;
    transition: others.$transition-2;
    transition: box-shadow others.$transition-2;
    width: 240px;
    max-height: 427px;
    white-space: nowrap;
    overflow: hidden;
    &:hover, :focus-within {
        outline-color: colors.$emerald;
        box-shadow: 0 0 15px rgba(27, 27, 27, 0.2); 
    }
    figure {
        position: relative;
        max-width: max-content;
        margin-inline: auto;
        margin-block-end: 20px;
        transition: others.$transition-2;
        a {
            img {
                height: 200px;
                width: 200px;
                object-fit: cover;
            }
        }
        &:hover {
            img {
                opacity: 0.6;
            }
            .favorite {
                opacity: 1;
            }
        }
        .favorite {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            button {
                position: relative;
                background-color: colors.$mint-cream;
                font-size: 2rem;
                padding: 12px;
                border-radius: 50%;
                svg {
                    fill: colors.$space-cadet;
                }
                &:hover, &:focus {
                    svg {
                        fill: colors.$emerald;
                    }
                    .favorite__tooltip {
                        opacity: 1;
                    }
                }
            }
            &__tooltip {
                position: absolute;
                bottom: calc(100% + 10px);
                left: 50%;
                transform: translateX(-50%);
                background-color: colors.$black_90;
                color: colors.$white;
                border-radius: others.$radius-4;
                font-size: fonts.$fs-7;
                min-width: max-content;
                padding: 4px 12px;
                pointer-events: none;
                opacity: 0;
                transition: others.$transition-2;
                &::after {
                    content: "";
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);
                    border: 5px solid transparent;
                    border-bottom-color: colors.$black_90;
                    border-right-color: colors.$black_90;
                }
            }
        }
    }
    &__rating {
        display: flex;
        justify-content: center;
        gap: 2px;
        color: colors.$yellow-orange;
        margin-block-end: 10px;
    }
    &__title {
        color: colors.$russian-violet;
        font-size: fonts.$fs-7;
        font-weight: fonts.$fw-500;
        margin-block-end: 10px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        position: relative;
        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:hover {
            color: colors.$emerald;
            .title__tooltip {
                opacity: 0.8;
            }
        }
        .title__tooltip {
            position: absolute;
            bottom: calc(100% + 10px);
            left: 50%;
            transform: translateX(-50%);
            background-color: colors.$spanish-gray;
            color: colors.$gunmetal-2;
            border-radius: others.$radius-4;
            font-size: fonts.$fs-7;
            padding: 4px 12px;
            pointer-events: none;
            opacity: 0;
            transition: others.$transition-2;
            white-space: normal;
            width: 100%;
            &::after {
                content: "";
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                border: 5px solid transparent;
                border-bottom-color: colors.$spanish-gray;
                border-right-color: colors.$spanish-gray;
            }
        }
    }
    &__price {
        font-size: fonts.$fs-5;
        margin-block-end: 15px;
        color: colors.$emerald;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        button {
            @include button.button;
            padding: 12px 18px;
            font-size: fonts.$fs-6;
            font-weight: fonts.$fw-500;
        }
    }
}

// .title__tooltip {
//     position: absolute;
//     bottom: calc(100% + 10px);
//     left: 50%;
//     transform: translateX(-50%);
//     background-color: colors.$black_90;
//     color: colors.$white;
//     border-radius: others.$radius-4;
//     font-size: fonts.$fs-7;
//     min-width: max-content;
//     padding: 4px 12px;
//     pointer-events: none;
//     opacity: 1;
//     transition: others.$transition-2;
//     &::after {
//         content: "";
//         position: absolute;
//         top: 20px;
//         left: 50%;
//         transform: translateX(-50%) rotate(45deg);
//         border: 5px solid transparent;
//         border-bottom-color: colors.$black_90;
//         border-right-color: colors.$black_90;
//     }
// }