//spacing
$section-padding: 80px;

//radius
$radius-4: 4px;
$radius-6: 6px;

//shadow
$shadow-1: 0 12px 25px -8px hsla(0, 0%, 0%, 0.2);
$shadow-2: -12px 0 25px -8px hsla(0, 0%, 0%, 0.2);
$shadow-3: 12px 0 25px -8px hsla(0, 0%, 0%, 0.2);

//transition
$transition-1: 0.05s ease;
$transition-2: 0.25s ease;
$cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
$cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);