@use "../../variables/colors";
@use "../../variables/fonts";
@use "../../variables/others";
@use "../../mixins/button";

.delete-dialog {
    font-size: fonts.$fs-4;
    width: 500px;
    padding: 30px 30px 20px;
    &__actions {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        margin-block-start: 20px;
        &__cancel {
            @include button.cancel;
        }
        &__delete {
            @include button.button;
            border-radius: 4px;
            padding: 15px 40px; 
        }
    }
}