@use "../variables/colors";
@use "../variables/fonts";

header {
    .header {
        &__top-bar {
            background-color: colors.$gunmetal-2;
            color: colors.$emerald;
            font-size: fonts.$fs-7;
            font-weight: fonts.$fw-500;
            text-align: center;
            padding-block: 10px;
        }
        &__navbar-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            row-gap: 20px;
            padding-inline: 10%;
            padding-block: 20px;
            &__logo {
                color: colors.$gunmetal-2;
                font-family: fonts.$font-primary;
                font-size: 3rem;
                text-align: center;
                h1 {
                    min-width: 100%;
                }
                .span {
                    display: inline-block;
                    color: colors.$emerald;
                }
            }
            &__nav {
                &__list {
                    display: flex;
                    gap: 10px;
                    color: colors.$gunmetal-2;
                    padding: 0 5px;
                    font-size: fonts.$fs-5;
                    font-weight: fonts.$fw-600;
                }
            }
        }
    }
}